<p>
  <%= ti("interpolate.from.yml", fruit: "Orange") %>
</p>

<p>
  <%= ti("thanks", name: "Jeremy") %>
</p>

<p>
  <%= ti("default.with.interpolation", default: "%{fruit1} tastes better than %{fruit2}", fruit1: "Orange", fruit2: "Apple") %>
</p>

<p>
  <%= ti("this.yaml.tell_me") %>
</p>

<h1> <%= ti("hello") %> </h1>

<p>This should be <%= ti("translated") %></p>

<p>This is not translated <%= ti ("not.translated.key.with.dots") %></p>

<p>Time now is <%= l(Time.now, format: :long) %></p>

<h1> Problematic elements and alternatives </h1>
<div class="issue-item">
  <div class="issue">
    Translating text on a button (input type=button):
    <br>
    <input type="button" value="<%= ti("button.text") %>">
  </div>
  <div class="alternative">
    <span>Alternative: </span>
    Translating text on a button (button element) should work:
    <br>
    <button><%= ti("button.text") %></button>
  </div>
</div>

<h1> Translation with fallback: </h1>
<button><%= ti("button.submit", default: [:'application.buttons.submit', "Submit this!"]) %></button>

<br>
<br>

<p>
  <%= ti 'application.test_html', default: "You can also use <strong>html</strong> inside translations." %>
</p>

