<%= t("thanks", name: "Jeremy") %>

<%= t("interpolate.from.yml", fruit: "Orange") %>

<%= t("this.yaml.tell_me") %>

<h1> <%= t("hello") %> </h1>

<p>This should be <%= t("translated")%></p>

<p>This is not translated <%=t("not.translated.key.with.dots")%></p>
