<h1>Editing translation</h1>

<div id="edit_key_set" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Key: <%= @tr_set.key %></h3>
  </div>
  <div class="panel-body">
    <%= form_for(@tr_set, as: :tr_set, url: update_key_set_path, method: :put, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
      <% @tr_set.translations.each do |translation| %>
        <% panel_color = translation.value.nil? ? "panel-danger" : "panel-info" %>
        <div class="panel panel-default <%= panel_color %>">
          <div class="panel-body">
            <%= f.fields_for "translation[]", translation do |tl_form| %>
              <% if @tr_set.pluralized %>
                <div class="input-group col-sm-2">
                  <span class=""><%= translation.key.split(".").last %></span>
                </div>
              <% end %>
              <div class="input-group col-sm-offset-2">
                <span class="input-group-addon"><%= translation.locale %></span>
                <% rows = translation.value.to_s.count("\n") + 1 %>
                <% line_height = 19 %>
                <% total_height = rows * line_height %>
                <%= tl_form.text_area :value, value: translation.value.to_s, class: "form-control", style: "min-height:#{total_height}px !important;" %>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= tl_form.check_box :make_nil %>
                      Make nil to cause missing_translation?
                    </label>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Save changes", class: "btn btn-primary" %>
        <%= link_to 'Cancel', translations_path, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

