<h1>Listing translations</h1>

<%= render "search_form" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Locale</th>
      <th>Key</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |key| %>
      <% value = I18nline::TR_STORE[key] %>
      <% value = ActiveSupport::JSON.decode(value) if value %>
      <% tr_color = value.nil? ? "danger" : "" %>
      <tr class="<%= tr_color %>">
        <td><%= key.split(".").first %></td>
        <td><%= key %></td>
        <td><%= value.to_s.truncate(50) %></td>
        <td><%= link_to 'Edit', find_by_key_path(key: key) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @translations %>

