<h1>Listing translations</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <% tr_color = translation.value.nil? ? "danger" : "" %>
      <tr class="<%= tr_color %>">
        <td><%= translation.locale %></td>
        <td><%= translation.key %></td>
        <td><%= translation.value %></td>
        <td><%= translation.created_at %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @translations %>

